@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

*{
  margin: 0%;
  padding: 0%;
  
}

.flowers{
  width: 100%;
}
.container1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  
}
.title{
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 80px;
}
.subtitle{
  font-family: 'Mohave', sans-serif;
  text-align: center;
  font-size: 40px;
}
.bar{
  width: 931px;
  height: 50px;
  border-radius: 10px;
  margin-left: 15%;
  box-shadow: 0px 4px 4px 0px grey;
  margin-top: 20px;
}
.button-add{
  display: flex;
  justify-content: center;
}
.add{
  width: 195px;
  height: 51px;
  background-color: #BEACC7;
  border-radius: 12px;
  color: #733561;
  font-family: 'Mohave', sans-serif;
  font-size: 35px;
}
.container-task{
  display: flex;
  justify-content: center;
  margin-right: 15px;

}
.task{
  width: 514px;
  height: 55px;
  background-color: #E393A6;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-family: 'Mohave', sans-serif;
  font-size: 30px;
}
